@media screen and (max-width: 1024px) {

    /* SHOPPING CART */

    .shopping__cart_container {
        max-height: 600px;
    }

    .product__description h1 {
        width: auto;
    }

    .price {
        margin-left: 11px;
    }

    /* ABOUT */

    .about__section {
        padding: 25px 0;
    }
    .about__section img {
        height: 400px;
    }
    .about__section_wrapper h1 {
        font-size: 40px;
        text-align: center;
        padding-bottom: 15px;
    }
    .about__section_wrapper hr {
        display: block;
    }
}

@media screen and (max-width: 820px) {

    /* MAIN CONTENT */

    .tooltip {
        width: 20%;
    }

    /* PRODUCT CONTAINER */

    .product__img:hover {
        border: none;
        box-shadow: 0 0 0;
    }

    /* SHOPPING CART */

    .shopping__cart_container {
        width: 100%;
        max-height: 720px;
        opacity: 0.95;
        z-index: 6;
    }

    /* ABOUT */

    .about__section {
        padding: 25px 0;
    }
    .about__section img {
        height: 400px;
    }
    .about__section_wrapper h1 {
        font-size: 45px;
        text-align: center;
        padding-bottom: 15px;
    }
    .about__section_wrapper hr {
        display: block;
    }
}

@media screen and (max-width: 760px) {

    /* MAIN CONTENT */

    .tooltip {
        width: 25%;
    }

    /* PRODUCT CONTAINER */

    .product__description {
        margin-left: 25px;
        width: 100%;
        overflow: hidden;
        transition: all 0.5 ease;
    }
    .product__description_header {
        justify-content: space-between;
        padding-right: 20px;
    }
    .product__img {
        padding-bottom: 40px;
    }

    /* ABOUT */

    .about__section_wrapper h1 {
        padding-top: 20px;
    }
    .map iframe{
        width: fit-content;
        height: 200px;
    }

    /* FOOTER */

    .footer__text {
        padding-left: 15px;
    }
}

@media screen and (max-width: 615px) {

    /* FOOTER */

    .footer__text {
        padding-right: 0;
        width: 50%;
    }
    .footer__text h1 {
        font-size: 28px;
    }
    .map iframe{
        width: 100%;
        margin-left: 15px;
    }
}

@media screen and (max-width: 515px) {

    /* MAIN CONTENT */

    .tooltip {
        width: 35%;
        /* bottom: 80px; */
        right: 80px;
    }

    /* ABOUT */

    .about__section img {
        margin-top: 15px;
        height: 350px;
    }

    /* FOOTER */

    .map {
        display: flex;
        justify-content: center;
        z-index: 2;
    }
    .map iframe{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.356);
        width: 80%;
        /* margin-left: 15px; */
    }
    .footer__wrapper {
        padding: 20px;
        padding-top: 60px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer__text {
        padding-top: 30px;
        width: 100%;
    }
    .footer__text hr {
        display: none;
    }
    .contacts {
        padding-bottom: 30px;
    }
    .footer__logo {
        font-size: 30px;
    }
}

@media screen and (max-width: 460px) {

    /* MAIN CONTENT */

    .tooltip {
        bottom: 40px;
        width: 45%;
        right: 50px;
    }
    .main__header h1 {
        width: 70%;
    }

    /* PRODUCT CONTAINER */

    .product__img img {
        z-index: 2;
    }
    .monitors img:first-child {
        width: 300px;
    }
    .monitors img:last-child {
        width: 90px;
    }
    .headphones img:first-child {
        width: 250px;
    }
    .headphones img:last-child {
        width: 250px;
    }
    .audio_interface img:first-child {
        width: 300px;
    }
    .audio_interface img:last-child {
        width: 70px;
    }

    /* SHOPPING CART */

    .shopping__cart_container {
        opacity: 1;
        z-index: 6;
        max-height: 710px;
    }
}

@media screen and (max-width: 390px) {

    /* MAIN CONTENT */

    .main__header h1 {
        width: 80%;
    }

    /* PRODUCT CONTAINER */

    .product__description_header {
        display: flex;
        flex-direction: column;
    }
    .product__description_header h1 {
        text-align: center;
    }
    .price {
        padding: 15px;
        text-align: center;
    }

    /* ABOUT */

    .about__section img {
        margin-top: 25px;
        height: 250px;
    }
}

@media screen and (max-width: 375px) {

    /* ABOUT */

    .about__section img {
        height: 220px;
    }
}